[submodule "sources_non_forked/tagbar"]
	path = sources_non_forked/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/rainbow_csv"]
	path = sources_non_forked/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "sources_non_forked/Auto-Pairs"]
	path = sources_non_forked/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
